
<ng-container *ngIf="user">
    <h2>Detalles del usuario</h2>
    <h1 mat-dialog-title>{{user.nombre}}</h1>
    <div class="foto"><img [src]="user.foto"></div>
    <div mat-dialog-content>
        <p><b>Email:</b> {{user?.email}}</p>
        <p><b>Rol:</b> {{user?.rol}}</p>
        <p><b>Número de publicaciones:</b> {{user.publicaciones.length}}</p>
        <p><b>Número de citas:</b> {{user.citas.length}}</p>
        <p><b>Número de favoritos:</b> {{user.favoritos.length}}</p>
    </div>
</ng-container>
