<p>
    <mat-toolbar>
        <span routerLink="/home">Home</span>
        <span routerLink="/citas">Citas</span>
        <span routerLink="/home">Clientes</span>
        <span routerLink="/publicaciones">Publicaciones</span>
        <div class="title"><p>TATUA STUDIO</p></div>
        <span>Facebook</span>
        <span>Twitter</span>
        <span>Instagram</span>
        <span>Youtube</span>
        <div class="profile"><mat-icon (click)="logOut()">exit_to_app</mat-icon></div>
    </mat-toolbar>
</p>