<br>
<h3>Gestionar citas</h3>
<hr>
<div class="table-container" fxFlexFill fxLayout="column" fxLayoutAlign="start center">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="detalles">
            <th mat-header-cell *matHeaderCellDef> Detalles </th>
            <td mat-cell *matCellDef="let element"><mat-icon (click)="openCitaDetailsDialog(element.id)">info</mat-icon></td>
        </ng-container>

        <ng-container matColumnDef="foto">
            <th mat-header-cell *matHeaderCellDef> Foto </th>
            <td class="foto" mat-cell *matCellDef="let element"><div><img src={{element.foto}}></div></td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha | date:'medium'}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Duración </th>
            <td mat-cell *matCellDef="let element"> {{element.duracion}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Color </th>
            <td mat-cell *matCellDef="let element"> {{element.color}} </td>
        </ng-container>

        <ng-container matColumnDef="borrar">
            <th mat-header-cell *matHeaderCellDef> Borrar </th>
            <td mat-cell *matCellDef="let element"><mat-icon (click)="openDeleteCitaDialog(element.id)">delete</mat-icon></td>
        </ng-container>
        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>

