<br>
<h3>Gestionar usuarios</h3>
<hr>
<div class="table-container" fxFlexFill fxLayout="column" fxLayoutAlign="start center">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="detalles">
            <th mat-header-cell *matHeaderCellDef> Detalles </th>
            <td mat-cell *matCellDef="let element"><mat-icon (click)="openUserDetailsDialog(element.id)">info</mat-icon></td>
        </ng-container>

        <ng-container class="foto" matColumnDef="foto">
            <th mat-header-cell *matHeaderCellDef> Foto </th>
            <td mat-cell class="foto" *matCellDef="let element"><img src={{element.fotoPerfil}} width="30%"></td>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="admin">
            <th mat-header-cell *matHeaderCellDef> Hacer administrador </th>
            <td mat-cell *matCellDef="let element"><div *ngIf="element.rol != 'Admin'"><button mat-raised-button (click)="makeAdmin(element.id)">Admin</button></div><mat-icon *ngIf="element.rol == 'Admin'">check_circle</mat-icon></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
